


.About{
	position: relative;
	padding: 24px;
	margin: 0px 126.5px;
	display: flex;
	font-family: 'Josefin Sans', sans-serif;
	flex-direction: row;
	justify-content: center;


}

.AboutText{
	width: 60%;
}

h2{
	font-size: 40px;
	color: #2954a2;
}

h5{
	  font-size: 1.2em;
	  font-style: italic;
	  letter-spacing: 1px;
	color: #999999;
	font-weight: 400;
}

p{
	color: #999999;
	line-height: 1.8em;
	font-size: 1em;
}



img{
	width: 237.5px;
	height: 237.5px;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}



.Images{
	float: right;
	
}

.Image1{
	position: absolute;
	right: 10em;
	z-index: 100;

}

.Image1:hover{
	width: 280px;
	height: 280px;

	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-ms-transition: .5s all;

}

.Image2{
	position: relative;
	right: 18em;
	top: 8em;

}


.Stats{

	position: relative;
	padding: 16px;
	margin: 0px 126.5px;
	
	font-family: 'Josefin Sans', sans-serif;
	
	justify-content: center;

}




@media(max-width: 1320px){

	.About{
		flex-direction: column;
		margin: 0;
	}
	

	.Images{
		float: none;
		display: block;
		text-align: center;
		width: 100%;
	}

	.AboutText{
		font-size: 1.2em;
		display: block;
		text-align: center;
		width: 100%;
	}


	.Image1{
		position: relative;
		left: 0;
		right: 0;
		top : 0;
		bottom: 0;
		
		
		width: 30%;
		height: 30%;
		margin: 0;
		
	}


	.Image2{
		position: relative;
		left: 0;
		right: 0;
		top : 10px;
		bottom: 0;
		
		width: 30%;
		height: 30%;
		
		
	}

	.Image1:hover{
		width: 40%;
		height: 40%;
	}

	.Image2:hover{
		width: 40%;
		height: 40%;
	}

	.Header{
		text-align: center;
	}
	.HeaderLorus{
		text-align: center;
	}

	.Stats{
		display: block;
		text-align: center;
		
		
		
	}
}

@media(max-width: 800px){
	.Stats{
		display: grid;
		grid-template-columns: 50% 50%;
		width: 100%;
		margin: 0 -31.5px;
		
		
	}
}


